@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

body {
  background-image: url('./fridge1.jpg');
  background-size: cover;
  font-size: 125%;
  padding: 20px;
  text-align: center;
}

section {
  border: 2px solid black;
  margin: 10px 0;
  padding: 20px;
  min-height: 50px;
}

form input,
form button {
  margin: 10px;
  padding: 10px;
}

.displaySection ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.displaySection li {
  background-color: whitesmoke;
  border: 1px solid black;
  box-shadow: 1px 1px 0 black;
  display: inline-block;
  margin: 5px;
  padding: 5px 10px;
  
}

.displaySection p {
  font-family: 'Special Elite', serif;
  margin: 0;
}